.fb-container {
    margin-top: 1rem;
    padding: 0 15px;
}
.fb-container .cbi-button {
    height: 2.6rem;
}
.fb-container .cbi-input-text {
    margin: 0 1rem 1rem 1rem;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}
.fb-container .panel-title {
    padding-bottom: 0.75rem;
    margin-left: 1rem;
    margin-right: 0;
    width: calc(100% - 1rem);
}
.fb-container .panel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaa;
}
.fb-container .upload-container {
    display: none;
    margin: 0 1rem 1rem 1rem;
    width: calc(100% - 2rem);
}
.fb-container .upload-file {
    flex-grow: 1;
}
.fb-container .cbi-section-table {
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
    box-sizing: border-box;
}
.fb-container .cbi-value-field {
    text-align: left;
}
.fb-container .parent-icon strong {
    margin-left: 1rem;
}
.fb-container td[class$="-icon"] {
    cursor: pointer;
}
.fb-container .file-icon, .fb-container .folder-icon, .fb-container .link-icon {
    position: relative;
}
.fb-container .file-icon:before, .fb-container .folder-icon:before, .fb-container .link-icon:before {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-size: contain;
    margin: 0 0.5rem 0 1rem;
    vertical-align: middle;
}
.fb-container .file-icon:before {
    background-image: url(file-icon.png);
}
.fb-container .folder-icon:before {
    background-image: url(folder-icon.png);
}
.fb-container .link-icon:before {
    background-image: url(link-icon.png);
}
@media screen and (max-width: 480px) {
    .fb-container .upload-file {
        width: 14.6rem;
    }
    .fb-container .cbi-value-owner,
    .fb-container .cbi-value-perm {
        display: none;
    }
}
#upload-toggle {                   
    margin-right: 1rem;
}
