<%+cbi/valueheader%>
<%
local uci = require "luci.model.uci".cursor()
local sys = require "luci.sys" 
local fs = require "nixio.fs"

local file_is_enabled = (sys.call("grep -Fxq \"/etc/sysinfo\" \"/etc/profile\"") == 0)
local state = file_is_enabled and "1" or "0"

local status_text
local status_color
local effect_description

local hostname = uci:get("system", "@system[0]", "hostname") or "OpenWrt"

local banner_content = ""
local hndl_banner = io.open("/etc/banner", "r")
if hndl_banner then
    banner_content = hndl_banner:read("*a")
    hndl_banner:close()
end

local prompt_line = string.format("root@%s:~# ", hostname)

local sysinfo_stats = ""
if fs.access("/etc/sysinfo") then
    sysinfo_stats = sys.exec("/etc/sysinfo")
else
    sysinfo_stats = "Error: /etc/sysinfo script not found or not executable.\n"
end

local terminal_output_enabled = banner_content .. sysinfo_stats .. prompt_line
local terminal_output_disabled = banner_content .. prompt_line

local terminal_preview_content
local button_html

if state == "1" then
    status_text  = translate("Already Enabled")
    status_color = "Green"
    effect_description = translate("Detailed system infomation is displayed.")
    terminal_preview_content = terminal_output_enabled
    button_html = string.format([[
        <input class="btn cbi-button cbi-button-negative" 
            type="button" 
            id="sysinfo_disable_btn"
            onclick="toggleSysInfo('disable', 'sysinfo_disable_btn')"
            value="%s" 
            style="margin-right: 10px;" />
    ]], translate("Click to disable"))
else
    status_text  = translate("Already Disabled")
    status_color = "Red"
    effect_description = translate("Only a basic message is displayed.")
    terminal_preview_content = terminal_output_disabled
    button_html = string.format([[
        <input class="btn cbi-button cbi-button-positive" 
            type="button" 
            id="sysinfo_enable_btn"
            onclick="toggleSysInfo('enable', 'sysinfo_enable_btn')"
            value="%s" 
            style="margin-right: 10px;" />
    ]], translate("Click to enable"))
end
%>

<script type="text/javascript">//<![CDATA[
    function toggleSysInfo(action, btn_id) {
        var btn = document.getElementById(btn_id);
        var original_value = btn.value;
        var new_state = (action === 'enable' ? 1 : 0);
        btn.disabled = true;
        btn.value = '<%:Applying...%>';
        XHR.get('<%=luci.dispatcher.build_url("admin", "system", "advanced", "sysinfo")%>', { value: new_state }, function(x, data) {
            btn.disabled = false;
            if (data && data.code === 0) {
                location.reload(); 
            } else {
                btn.value = original_value; 
                alert('<%:Failed to change status: %> ' + (data ? data.error : x.statusText));
            }
        });
    }
//]]></script>

<div class="cbi-section-descr" style="padding: 10px; background-color: #f9f9f9; border: 1px solid #eee;">
    <%=effect_description%>
    <div style="background-color: #000; padding: 10px; margin-top: 10px; border-radius: 5px; max-width: 75%;">
        <pre style="color: #00ff00; font-family: 'Consolas', 'Monaco', monospace; margin: 0; white-space: pre-wrap; word-wrap: break-word; font-size: 11px;">
<%=terminal_preview_content%>
        </pre>
    </div>
</div>

<div class="cbi-value">
    <label class="cbi-value-title" style="margin-top: 0.45rem;"><%=translate("Terminal System Infomation")%></label>
    <div class="cbi-value-field">
        <div class="cbi-value-description">
            <span style="padding-right: 15px; display: inline-block;">
                <font color="<%=status_color%>"><strong><%=status_text%></strong></font>
            </span>
            <%=button_html%>
        </div>
    </div>
</div>

<%+cbi/valuefooter%>
